@import "variables";

@keyframes buttonAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rotateFirstLine {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes unrotateFirstLine {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateSecondLine {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
@keyframes unrotateSecondLine {
  0% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes showLine {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: inline-block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideLine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes drawLine {
  0% {
    border-left: 0px solid white;
  }
  50% {
    border-left: 0.5px solid white;
  }
  100% {
    border-left: 1px solid white;
  }
}
@keyframes hideSmallMenu {
  0% {
    width: $smallMenuWidth;
  }
  100% {
    width: $smallHiddenMenuWidth;
  }
}

@keyframes unhideSmallMenu {
  0% {
    width: $smallHiddenMenuWidth;
  }
  100% {
    width: $smallMenuWidth;
  }
}

@keyframes hideTabletMenu {
  0% {
    width: 15%;
  }
  100% {
    width: 5%;
  }
}

@keyframes unhideTabletMenu {
  0% {
    width: 5%;
  }
  100% {
    width: 15%;
  }
}

@keyframes hideDesktopMenu {
  0% {
    width: 10%;
  }
  100% {
    width: 5%;
  }
}

@keyframes unhideDesktopMenu {
  0% {
    width: 5%;
  }
  100% {
    width: 10%;
  }
}

@keyframes decreaseHeader {
  0% {
    height: $normalHeader;
  }
  100% {
    height: $smallHeader;
  }
}
@keyframes decreaseImg {
  0% {
    width: $normalLogoImg;
  }
  100% {
    width: $smallLogoImg;
  }
}
@keyframes decreaseSection {
  0% {
    height: $normalMainSectionHeight;
  }
  100% {
    height: $biggerMainSectionHeight;
  }
}

@keyframes enlargeHeader {
  0% {
    height: $smallHeader;
  }
  100% {
    height: $normalHeader;
  }
}
@keyframes enlargeImg {
  0% {
    width: $smallLogoImg;
  }
  100% {
    width: $normalLogoImg;
  }
}
@keyframes enlargeSection {
  0% {
    height: $biggerMainSectionHeight;
  }
  100% {
    height: $normalMainSectionHeight;
  }
}
@keyframes removeMessage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes hideMachinePanel {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    left:10%;
    width: 40%;
    height: 50%;

  }
  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
    left:0%;
    display: none;
  }
}

@keyframes draw{
  0%{
    height:0%;
  }
  100%{
    height: 40%;
  }
}