@import "styles";

.main__container {
  height: 100%;
  .auth__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .auth__container {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      //background-color: $mainBackgroundColor;
      box-shadow: $shadowBackground;
      h1 {
        color: $mainFontColor;
        font-size: 3em;
        font-weight: bolder;
        margin-top: 10%;
        margin-bottom: 5%;
      }
      .logo--img {
        width: 15%;
        margin-bottom: 5%;
      }
      .auth__fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        .auth__inputs {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 70%;
          align-items: center;
          justify-content: center;
          label {
            color: white;
            padding: 1.5%;
            margin-bottom: 3%;
            position: relative;
            width: 80%;
            font-size: 1em;
            border-bottom: 1px solid white;
          }
          .auth__input {
            width: 85%;
            border: none;
            background: none;
            color: white;
            font-size: 1em;
            box-sizing: border-box;
            position: absolute;
            left: 60px;
            &:focus {
              outline: none;
            }
          }
        }

        .auth--button {
          width: 50%;
          height: 5vh;
          background: none;
          color: white;
          border: none;
          border-radius: 50px;
          background: linear-gradient(
            90deg,
            rgba(17, 126, 201, 1) 0%,
            rgba(4, 193, 188, 1) 50%,
            rgba(0, 176, 255, 1) 100%
          );
          background-size: 400% 400%;
          box-shadow: $shadowBackground;
          &:focus {
            outline: none;
          }
          &:hover {
            cursor: pointer;
            animation: buttonAnimation 5s ease infinite;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main__container {
    .auth__wrapper {
      .auth__container {
        width: 60%;
        max-width: 1023.9px;
        height: 80%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main__container {
    .auth__wrapper {
      .auth__container {
        width: 50%;
        max-width: 1365.9px;
        height: 80%;
      }
    }
  }
}
@media screen and (min-width: 1366px) {
  .main__container {
    .auth__wrapper {
      .auth__container {
        width: 50%;
        max-width: 1679.9px;
        height: 80%;
      }
    }
  }
}

@media screen and (min-width: 1680px) {
  .main__container {
    .auth__wrapper {
      .auth__container {
        width: 30%;
        height: 80%;
      }
    }
  }
}

@media screen and (min-width: 2000px) {
  .main__container {
    .auth__wrapper {
      .auth__container {
        width: 25%;
        height: 80%;
      }
    }
  }
}
