@import "animations";
.auth__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .auth__container {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: $mainBackgroundColor;
    box-shadow: $shadowBackground;
    h1 {
      color: $mainFontColor;
      font-size: 3em;
      font-weight: bolder;
      margin-top: 10%;
      margin-bottom: 5%;
    }
    .logo--img {
      width: 15%;
      margin-bottom: 5%;
    }
    .auth__fields {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
      .auth--input {
        width: 60%;
        border: none;
        background: none;
        border-bottom: 1px solid white;
        color: white;
        font-size: 1em;
        box-sizing: border-box;
        padding-left: 10%;
        padding-bottom: 1%;
        margin-top: 5%;
        margin-bottom: 5%;
        &:focus {
          outline: none;
          .login--label {
            display: none;
          }
        }
      }

      label {
        position: absolute;
        left: 20%;
        color: white;
        transition: 0.2s all;
        &[for="login"] {
          top: 10%;
        }

        &[for="password"] {
          top: 40%;
        }
      }

      .auth--button {
        width: 50%;
        height: 4vh;
        margin-top: 10%;
        background: none;
        color: white;
        border: none;
        border-radius: 50px;
        background: linear-gradient(
          90deg,
          rgba(17, 126, 201, 1) 0%,
          rgba(4, 193, 188, 1) 50%,
          rgba(0, 176, 255, 1) 100%
        );
        background-size: 400% 400%;
        box-shadow: $shadowBackground;
        &:focus {
          outline: none;
        }
        &:hover {
          cursor: pointer;
          animation: buttonAnimation 5s ease infinite;
        }
      }
    }
  }
}

@media only screen and (min-width: 2400px) {
  .main__container {
    .auth__container {
      width: 30%;
      height: 84%;
      .auth__fields {
        .auth--button {
          height: 6vh;
          font-size: 1.5em;
        }
        label {
          font-size: 1.4em;
        }
        label[for="login"] {
          top: 11.3%;
        }
        label[for="password"] {
          top: 42.5%;
        }
        .auth--input {
          font-size: 1.2em;
          padding-left: 9%;
        }
      }
    }
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1920px) {
  .main__container {
    .auth__container {
      width: 40%;
      height: 85%;
      .auth__fields {
        .auth--button {
          height: 6vh;
          font-size: 1.5em;
        }
        label[for="login"] {
          top: 11%;
        }
        label[for="password"] {
          top: 41%;
        }
        .auth--input {
          // font-size: 1.2em;
          padding-left: 9%;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .main__container {
    .auth__container {
      width: 40%;
      height: 70%;
      .auth__fields {
        .auth--button {
          height: 6vh;
          font-size: 1.5em;
        }
        label[for="login"] {
          top: 11%;
        }
        label[for="password"] {
          top: 43%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .main__container {
    .auth__container {
      width: 40%;
      height: 90%;
      h1 {
        font-size: 5em;
      }
      .auth__fields {
        .auth--button {
          height: 8vh;
          margin-top: 5%;
          font-size: 2em;
        }
        .auth--input {
          padding-left: 15%;
          font-size: 1.5em;
        }
        label {
          font-size: 1.5em;
        }
        label[for="login"] {
          top: 11%;
        }
        label[for="password"] {
          top: 46%;
        }
      }
    }
  }
}

@media only screen and (min-width: 921px) and (max-width: 1024px) {
  .main__container {
    .auth__container {
      width: 55%;
      height: 90%;
      h1 {
        font-size: 5em;
      }
      .auth__fields {
        .auth--button {
          height: 8vh;
          margin-top: 5%;
          font-size: 2em;
        }
        .auth--input {
          padding-left: 15%;
          font-size: 1.5em;
        }
        label {
          font-size: 1.5em;
        }
        label[for="login"] {
          top: 11%;
        }
        label[for="password"] {
          top: 46%;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  .main__container {
    .auth__container {
      width: 60%;
      height: 90%;
      h1 {
        font-size: 5em;
      }
      .auth__fields {
        .auth--button {
          height: 11vh;
          margin-top: 5%;
          font-size: 2em;
        }
        .auth--input {
          padding-left: 16%;
          font-size: 1.5em;
        }
        label {
          font-size: 1.5em;
        }
        label[for="login"] {
          top: 11%;
        }
        label[for="password"] {
          top: 43%;
        }
      }
    }
  }
}
@media only screen and (min-width: 551px) and (max-width: 767px) {
  .main__container {
    .auth__container {
      width: 80%;
      height: 90%;
      h1 {
        font-size: 4em;
      }
      .auth__fields {
        .auth--button {
          height: 6vh;
          font-size: 1.5em;
          margin-top: 5%;
        }
        .auth--input {
          padding-left: 14%;
          font-size: 1.3em;
        }
        label {
          font-size: 1.5em;
        }
        label[for="login"] {
          top: 12%;
        }
        label[for="password"] {
          top: 49%;
        }
      }
    }
  }
}
@media only screen and (min-width: 480px) and (max-width: 550px) {
  .main__container {
    .auth__container {
      width: 90%;
      height: 85%;
      h1 {
        font-size: 4em;
      }
      .auth__fields {
        .auth--button {
          height: 6vh;
          font-size: 1.5em;
        }
        .auth--input {
          padding-left: 19%;
          font-size: 1.3em;
        }
        label {
          font-size: 1.5em;
        }
        label[for="login"] {
          top: 9%;
        }
        label[for="password"] {
          top: 42%;
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .main__container {
    .auth__container {
      width: 90%;
      height: 85%;
      h1 {
        font-size: 4em;
      }
      .auth__fields {
        .auth--button {
          height: 8vh;
          font-size: 1.5em;
        }
        .auth--input {
          padding-left: 22%;
          font-size: 1.3em;
        }
        label {
          font-size: 1.5em;
        }
        label[for="login"] {
          top: 9%;
        }
        label[for="password"] {
          top: 40%;
        }
      }
    }
  }
}
