@import "variables";
$rotationTime: 0.5s;
.navigation__container {
  width: $smallMenuWidth;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: $mainPanelColor;
  box-shadow: $shadowBackground;
  z-index: 999999999;
  &.hidden {
    width: $smallHiddenMenuWidth;
    animation: hideSmallMenu $rotationTime ease;
    .button__hide-nav {
      :nth-child(1) {
        transform: rotate(0deg);
        animation: unrotateFirstLine $rotationTime ease;
      }
      :nth-child(2) {
        animation: showLine $rotationTime ease;
        display: inline-block;
      }
      :nth-child(3) {
        animation: unrotateSecondLine $rotationTime ease;
        transform: rotate(0deg);
        bottom: 0%;
        position: relative;
      }
    }
  }
  &.unhidden {
    width: $smallMenuWidth;
    animation: unhideSmallMenu 0.3s ease;
    .button__hide-nav {
      :nth-child(1) {
        animation: rotateFirstLine $rotationTime ease;
        transform: rotate(45deg);
      }
      :nth-child(2) {
        display: none;
        animation: hideLine $rotationTime ease;
      }
      :nth-child(3) {
        animation: rotateSecondLine $rotationTime ease;
        transform: rotate(135deg);
        bottom: 23%;
        position: relative;
      }
    }
  }
  .button__hide-nav {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    background: none;
    outline: none;
    border: none;
    font-size: 2em;
    color: white;
    &:hover {
      cursor: pointer;
      transform: scale(0.9);
    }
    span {
      display: inline-block;
      border-bottom: 4px solid white;
      width: 30px;
      height: 6px;
      padding: 0.2%;
    }
    :nth-child(1) {
      transform: rotate(45deg);
    }
    :nth-child(2) {
      display: none;
    }
    :nth-child(3) {
      transform: rotate(135deg);
      bottom: 23%;
      position: relative;
    }
  }

  .header__navigation {
    width: 85%;
    &.hidden {
      display: none;
    }
    .navigation__element {
      padding: 10%;
      position: relative;
      a {
        color: $mainFontColor;
        font-size: 0.8em;
      }
      &:hover {
        &:before {
          content: "";
          position: absolute;
          height: 40%;
          left: 0%;
          border: 2px solid white;
          animation: draw .2s ease;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navigation__container {
    width: 15%;
    &.hidden {
      width: 5%;
      animation: hideTabletMenu 0.3s ease;
    }
    &.unhidden {
      width: 15%;
      animation: unhideTabletMenu 0.3s ease;
    }
  }
}
@media screen and (min-width: 1366px) {
  .navigation__container {
    width: 10%;
    &.hidden {
      animation: hideDesktopMenu 0.3s ease;
      width: 5%;
    }
    &.unhidden {
      animation: unhideDesktopMenu 0.3s ease;
      width: 10%;
    }
    .header__navigation {
      ul {
        .navigation__element {
          a {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
