@import "monitoring";

.main__container
  .main__section
  .operator__container
  .main-machine-panel__container {
  width: 100%;
  top: -11%;;
  left: 0;
  z-index: 999999999999;
  .panel__container {
    flex-direction: column;
    .statuses-panel__container {
      margin-bottom: 0;
    }
  }
}

.changes__container {
  display: flex;
  width: 100%;
  justify-content: center;

  border-top: 1px solid black;
  .morning__container,
  .afternoon__container,
  .night__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 1%;
    h3 {
      font-weight: bold;
      font-size: 2em;
    }
  }
}
.accept__container--wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  left: 0%;
  top: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .accept__container {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      color: white;
      font-size: 3em;
      text-align: center;
    }
    button {
      width: 20%;
      height: 10%;
      margin-bottom: 2%;
      font-size: 1.5em;
      color: white;
      &.accept {
        background: green;
      }
      &.cancel {
        background: red;
      }
    }
  }
}
