.machines__container {
  display: flex;
  justify-content: space-around;
}

.machine-type__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.machine-type__container > h1 {
  font-weight: bold;
  font-size: 2em;
  color: white;
}