extends layout

block content
    .container
        .dashboard__container
            .dashboard__element
                h1='Bieżąca praca maszyn'
                .summary__container
                    .summary__container--table
                        table
                    .summary__container--graph
            .dashboard__element
                h1='Suma pracy maszyn'
                .summary-container__table--current




    script(src=`javascripts/Dashboard/${jsfiles}` type='module')
