html
    head
        title Nie znaleziono strony
        link(rel='stylesheet' href='/stylesheets/error.css')
    body
        .container
            div
                h1 4
                img(src="/images/logo.png")
                h1 4

            h2 nie znaleziono strony