extends layout

block content
    .container
        .stats__container
            .configuration__container
                label(for='start') Data od:
                    input(type='date' name='start')

                label(for='end') Data do:
                    input(type='date' name='end')
                //- label(for='machine') Maszyna
                //-     select(class='machine__select')
                button(type='submit' class='choose-machine') Wyświetl
            .stats




