extends layout

block content
    .container
        .users__container
        .users__settings
            button.users__new--button='Nowy'


    script(src=`javascripts/Users/${jsfiles}` type='module')