.machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 2%;
  margin: 2%;
}
.machine > img {
  width: 75%;
}
.machine:hover {
  transform: scale(0.98);
  cursor: pointer;
}
.machine-name {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  text-align: center;
}
.status {
  color: white;
  font-weight: bold;
  padding: 5%;
  margin: 1% 0% 1% 0%;
  width: 80%;
  text-align: center;
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}
